*{
    padding: 0;
}
body{
    transition: .5s ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 0, 24);

}
header {
  position: fixed;
  margin-top: -0px;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000a20c5;
  z-index: 10;
}

nav {
  margin-left: 50px;
  display: flex;
  gap: 20px;

}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #ccc;
  transform: scale(1.1);
}
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* evita que o vídeo bloqueie cliques nos elementos acima */
}

.sobre {
  margin-left: -20px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
  transition: .5s;
  color: #ffffff;
  padding-top: 70px;
  text-align: center;
  background: linear-gradient(to top, #0521634d, #0f172a);
  flex-direction: column; 
  align-items: center;    
  gap: 10px;               
  font-family: 'Lucida Sans', sans-serif;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.sobre img{
  border-radius: 300px; 
  border: 2px solid rgb(0, 0, 0);
}
.informacao{
      transition: .5s ;
  border-bottom: 3px solid #006eff;
}
.informacao h3{
      transition: .5s ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fdfdfd;
 margin-top: 50px;
  font-size: 25px;
  margin-left: 30px;
}
 
.cards{
      transition: .5s ;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;       
    gap: 15px;             
    margin-top: 20px;
    margin-left: 30px;
  }
  .card {
        transition: .5s ;
    background-color: #e2e8f0;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 10px 15px;
    gap: 10px;               
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 380px;
    height: 380px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(255, 253, 253, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;     
}

  .card img {
        transition: .5s ;
    margin-top: 50px;
    width: 200px;
    height: auto;
  }
  .card2 p{
        transition: .5s ;
    font-size: 25px;
  }
  .cards2{
        transition: .5s ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;       
    gap: 15px;             
    margin-top: 20px;
    margin-left: 30px;
  }
  .informacao2 h3{
        transition: .5s ;
    margin-top: 25px;
font-size: 25px;
margin-left: 60px;
color: #ffffff;
  }
  .card2 {
        transition: .5s ;
    background-color: #e2e8f0;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 10px 15px;
    gap: 10px;               
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 380px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;     
}
  .cards2 img {
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }
  .cards2 p{
        transition: .5s ;
    font-size: 17px;
     margin-top: 50px;
  }
  footer{
        transition: .5s ;
    background: linear-gradient(to top, #052163, #0f172a);

   margin-left: -10px;
    margin-right: -8px;
    margin-bottom: -10px;
    border-bottom: solid#000000 10px;
    border-top: solid#000000 10px;
    height: 250px;
  }
  .contatos{
      transition: .5s ;
    margin-left: 500px;
    list-style: none;
    display: flex;
    gap: 15px;             
  }
  footer img{
    text-align: center;
    padding-top: 86px ;
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    max-width: 100px;
    border-bottom: 3px solid #707070;

  }
  footer h4{
        transition: .5s ;
    margin-top: 15px;
    margin-left: -90px;
    font-size: 29px;
    color: #ffffff;
  }

  /*dark mode*/
.trilho {
  margin-right: 50px;
  width: 60px;
  height: 23px;
  background-color: thistle;
  border-radius: 150px;
  position: relative;
  cursor: pointer;
}

.trilho .indicador {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: .5s;
}

.trilho.dark{/*muda cor do trilho*/
    background-color: rgb(255, 244, 211);
}

.trilho.dark .indicador{/*cor da bolinha*/
  left: 38px;
  background-color: rgb(0, 0, 0);
}

body.dark{ /*cor de fundo do site*/
    background: linear-gradient(to top, #2c457a, #9db1e0);

}

body.dark header { /*cor de fundo header*/
  background-color: #000a20;
 
}

body.dark nav a {
  color: #ffffff; /* Links escuros  */
}

body.dark header a:hover {
  color: #555555;
}


body.dark .sobre{
    background: linear-gradient(to top, #264c9c, #0f172a);
  color: #ffffff;
}